.menu {
  width: 100%;
  // background: white;
  border-top: solid rgba(265,265,265,0.1) 1px;
  position: absolute;
  bottom: 0;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s ease-in-out;


  a {
    text-decoration: none;
    cursor: pointer;
    color: #eee;
    transition: 0.4s ease-in-out;
    padding: 1rem 1.4rem;


    &:hover {
      background: orange;
    }
  }

  .active {
     // border: solid rgba(256,69,0,0.4) 1px;
     border-bottom: solid orangered 4px;
     background: rgba(256,69,0,0.1);
     transition: 0.4s ease-in-out;
     // color:  #0F2C33;
     padding: 1rem 1.4rem;
  }
}
